{# _resume/templates/base.html_ #}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!-- SITE TITLE -->
    <title>Ultra Profile HTML5 Template</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/templatemo_464_ultra_profile/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/templatemo_464_ultra_profile/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/templatemo_464_ultra_profile/css/templatemo-style.css') }}">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600,700' rel='stylesheet' type='text/css'>
    <!-- 

Ultra Profile

https://templatemo.com/tm-464-ultra-profile

-->
</head>

<body data-spy="scroll" data-target="#rock-navigation">
    <!-- START NAVIGATION -->
    <div class="navbar navbar-default bs-dos-nav navbar-fixed-top sticky-navigation" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#rock-navigation">
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
				</button>
                <a href="#" class="navbar-brand">Ultra Profile</a>
            </div>
            <nav class="collapse navbar-collapse" id="rock-navigation">
                <ul class="nav navbar-nav navbar-right main-navigation text-uppercase">
                    <li><a href="#home" class="smoothScroll">Home</a></li>
                    <li><a href="#work" class="smoothScroll">My Work</a></li>
                    <li><a href="#portfolio" class="smoothScroll">Portfolio</a></li>
                    <li><a href="#resume" class="smoothScroll">Resume</a></li>
                    <li><a href="#about" class="smoothScroll">About</a></li>
                    <li><a href="#contact" class="smoothScroll">Contact</a></li>
                </ul>
            </nav>

        </div>
    </div>
    <!-- END NAVIGATION -->

    {% block content %} {% endblock %}


    <script src="{{ url_for('static', filename='assets/vendor/templatemo_464_ultra_profile/js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/templatemo_464_ultra_profile/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/templatemo_464_ultra_profile/js/smoothscroll.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/templatemo_464_ultra_profile/js/jquery.nav.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/templatemo_464_ultra_profile/js/isotope.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/templatemo_464_ultra_profile/js/imagesloaded.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/templatemo_464_ultra_profile/js/custom.js') }}"></script>
</body>

</html>